# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# =====================
# Virtual environments
# =====================
venv/
.env

# =====================
# Secrets / Keys
# =====================
*.pem
*.key
secure_vault/client/keys/

# =====================
# Docker
# =====================
*.log
docker-data/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
