# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.pytest_cache/

# =====================
# Virtual environments
# =====================
venv/
.env

# =====================
# Secrets / Keys
# =====================
*.pem
*.key
secure_vault/client/keys/
client/keys/
client/state.json

# =====================
# Database
# =====================
*.db

# =====================
# Docker
# =====================
*.log
docker-data/

# =====================
# Node / Vite
# =====================
web/node_modules/
web/dist/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db
